$blue-font: #3B8ACB;

.reveal {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shadowed {
    -webkit-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 17px -5px rgba(0, 0, 0, 0.75);
  }

  code {
    padding: 20px !important;
    max-height: 1500px !important;
  }

  code span.fragment.fade-out.visible {
    display: none;
  }

  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    code {
      padding: 20px;
      max-height: 1500px;
      font-size: 30px;
      line-height: 35px;
      overflow: hidden;
      font-family: Menlo, monospace;

      mark {
        background-color: rgba(59, 138, 203, 0.33);
      }
    }

    pre {
      box-shadow: none;
    }
  }

  img.small-logo {
    width: 30px;
    padding-right: 5px;
    margin: 0;
    vertical-align: middle;
  }

  .block {
    display: inline-block;
    vertical-align: middle;
  }

  img.block {
    margin-right: -5px;
  }

  .image-float {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    .fragment:not(.current-fragment) {
      img {
        filter: blur(3px);
      }
    }
  }

  img.center-logo {
    width: 500px;
  }

  img.heart {
    width: 100px;
    padding: 50px 10px;
  }

  .numbers {
    span.title {
      font-weight: 100;
    }

    span.number {
      color: $blue-font;
      font-weight: 700;
      font-size: 25vh;
    }
  }

  span.note {
    color: red;
    font-size: 20px;
  }

  p.quote {
    font-weight: 100;
    font-style: italic;
    color: #676767;
  }

  .blue {
    color: $blue-font;
  }

  .small-note {
    font-weight: 100;
    font-style: italic;
    color: #b1b1b1;
    line-height: 0;
    font-size: 20px;
    margin-top: 10px;
  }

  .title_pres {
    h1 {
      margin: 0;
      line-height: 1em;
    }

    .handrawn {
      font-size: 5em;
    }
  }

  .handrawn {
    font-family: Paintbrush, monospace;
    font-weight: 100;
  }

  .red {
    color: #CB2D39;
  }

  h3.question {
    text-transform: none;
    font-weight: 100;
  }

  section.console {
    .wrapper {
      -webkit-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.75);
      box-shadow: 1px 3px 15px 2px rgba(0,0,0,0.75);
      border-radius: 5px;
      width: 950px;
      height: 530px;

      svg {
        font-family: Meslo, Menlo, monospace;
      }
    }
  }

  .social {
    font-weight: 100;
    font-size: 0.7em;
    a, & {
      color: #8f8f8f;
    }
    .twitter {
      a {
        color: black;
      }
    }
  }

  .closing-title {
    padding-bottom: 50px;
    img {
      width: 150px;
      vertical-align: middle;
      padding-bottom: 20px;
    }

    span {
      font-weight: 100;
      font-style: italic;
      font-size: 2em;
    }
  }


  .blur-animation {
    -webkit-filter: blur(50px);
    -webkit-transition: 3s -webkit-filter linear !important;
    color: #0004c0;
    &.visible {
      -webkit-filter: blur(20px);

    }
  }

  .good_ng {
    padding-bottom: 25px;
  }
}
html.red-gradient  body {
  background: -moz-radial-gradient(center, ellipse cover, rgba(221,197,197,0) 0%, rgba(226,122,122,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(221,197,197,0) 0%,rgba(226,122,122,1) 100%);
  background: radial-gradient(ellipse at center, rgba(221,197,197,0) 0%,rgba(226,122,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddc5c5', endColorstr='#e27a7a',GradientType=1 );
}
html.blue-gradient  body {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(130,196,255,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%,rgba(130,196,255,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(130,196,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#82c4ff',GradientType=1 );
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.91);
}