@font-face {
    font-family: "Paintbrush";
    src: url('Paintbrush-Font.ttf') format("truetype");
}

@font-face {
    font-family: Menlo;
    src: url('./Menlo-Regular.ttf');
}

@font-face {
    font-family: Meslo;
    src: url('./Meslo.ttf');
}
